$pink: rgb(255, 183, 155);
$white: rgb(247, 247, 247);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap");
@font-face {
  font-family: "Notera";
  src: url("../font/notera_personaluseonly.ttf");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Raleway";
  color: #000;
  font-size: 10px;
  cursor: auto;
}

h {
  &1,
  &2,
  &3,
  &4,
  &4,
  &5,
  &6 {
    font-weight: bold;
  }
}

body {
  font-family: "Raleway";
  font-size: 1.2rem;
  background: $white;
}

.white-background {
  background: #fff;
}

svg {
  &:hover {
    fill: $pink;
  }
}

@media (max-width: 767px) {
  svg {
    width: 20px;
    height: 20px;
  }
}

a {
  &:hover {
    color: $pink;
    text-decoration: none;
    cursor: pointer;
  }
  color: #000;
}

.pagination div:hover {
  @extend a;
}

.nav-link {
  font-weight: 600;
}

.pink-text {
  color: $pink;
}

.border {
  &-pink {
    border-bottom: solid 2px $pink;
    &-bottom {
      border-top: solid 2px $pink;
    }
    &-left {
      border-left: solid 4px $pink;
    }
  }
  &-bottom {
    border-bottom: solid 1px rgba(68, 68, 68, 0.15);
  }
  &-top {
    border-top: solid 1px rgba(68, 68, 68, 0.15);
  }
  &-right {
    border-right: solid 1px rgba(68, 68, 68, 0.15);
  }
}

table {
  td {
    &:last-child {
      background: rgb(255, 183, 155);
      &:hover {
        svg {
          fill: #fff;
          cursor: pointer;
        }
      }
    }
    padding: 0.75rem;
    vertical-align: top;
  }
  width: min-content !important;

}

.btn-custom {
  color: #fff;
  font-size: 1.2rem;
  background: rgb(255, 183, 155);
}

.btn-custom {
  &:hover {
    outline: none;
    color: #fff;
    transform: scale(1.01, 1);
  }
}

table td:hover {
  svg {
    fill: $pink;
  }
  cursor: pointer;
}

.none-border {
  border: none;
  outline: none;
}

// start of header
.navbar {
  background: white !important;
  box-shadow: 0 2px 3px rgba(68, 68, 68, 0.25);
  &-nav {
    &.custom li {
      border-left: 1px solid rgba(68, 68, 68, 0.25);
      display: flex;
      align-items: center;
      &:last-child {
        border-right: 1px solid rgba(68, 68, 68, 0.25);
      }
    }
  }
  &-toggler:focus {
    border: none;
    outline: none;
  }
}

@media (max-width: 767px) {
  .fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    &.custom {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .nav-item {
      font-size: 2rem;
    }
    &.social {
      padding: 0.5rem;
      border-top: solid 2px #212121;
    }
    &.custom li {
      border: none;
      height: auto;
      &:last-child {
        border: none;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1064px) {
  .social {
    display: none;
  }
}
.animated-icon {
  width: 30px;
  height: 35px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    // transform: rotate(0deg);
    transition: 0.2s ease-in;
    background: #212121;
    @for $i from 0 through 2 {
      &:nth-child(#{$i}) {
        top: 10px * $i;
      }
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        top: 11px;
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
        transition: 0.1s ease-in;
      }
      &:nth-child(3) {
        top: 11px;
        transform: rotate(-135deg);
      }
    }
  }
}

.about {
  h1 {
    font-family: "Notera";
    font-size: 8rem;
  }
  p {
    &:before,
    &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 8%;
      height: 1px;
      background-color: black;
      position: relative;
    }
    &:before {
      left: -1%;
    }
    &:after {
      right: -1%;
    }
  }
}

// end of header
.card,
.border-shadow {
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.list-none {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
}

// slider
.slide {
  &-prev,
  &-next {
    position: absolute;
    top: 50%;
    display: block;
    width: 35px;
    height: 35px;
    z-index: 100;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fff;
    &:hover,
    &:focus {
      outline: none;
      background: $pink;
      svg {
        fill: #fff;
      }
    }
    svg {
      fill: $pink;
    }
  }
  &-prev {
    left: 0;
  }
  &-next {
    right: 0;
  }
}

//detail page
.social-bar {
  svg {
    fill: $pink;
  }
  .white-background {
    cursor: pointer;
    &:hover {
      background: rgb(66, 66, 66);
      a {
        color: #fff;
      }
    }
  }
}

//font-awesome
.contact-information {
  svg {
    fill: $pink;
  }
  span {
    margin-left: 1rem;
  }
}
