@import url("https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap");
@font-face {
  font-family: "Notera";
  src: url("../font/notera_personaluseonly.ttf");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Raleway";
  color: #000;
  font-size: 10px;
  cursor: auto;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-weight: bold;
}

body {
  font-family: "Raleway";
  font-size: 1.2rem;
  background: #f7f7f7;
}

.white-background {
  background: #fff;
}

svg:hover {
  fill: #ffb79b;
}

@media (max-width: 767px) {
  svg {
    width: 20px;
    height: 20px;
  }
}

a, .pagination div:hover {
  color: #000;
}

a:hover, .pagination div:hover {
  color: #ffb79b;
  text-decoration: none;
  cursor: pointer;
}

.nav-link {
  font-weight: 600;
}

.pink-text {
  color: #ffb79b;
}

.border-pink {
  border-bottom: solid 2px #ffb79b;
}

.border-pink-bottom {
  border-top: solid 2px #ffb79b;
}

.border-pink-left {
  border-left: solid 4px #ffb79b;
}

.border-bottom {
  border-bottom: solid 1px rgba(68, 68, 68, 0.15);
}

.border-top {
  border-top: solid 1px rgba(68, 68, 68, 0.15);
}

.border-right {
  border-right: solid 1px rgba(68, 68, 68, 0.15);
}

table {
  width: -webkit-min-content !important;
  width: -moz-min-content !important;
  width: min-content !important;
}

table td {
  padding: 0.75rem;
  vertical-align: top;
}

table td:last-child {
  background: #ffb79b;
}

table td:last-child:hover svg {
  fill: #fff;
  cursor: pointer;
}

.btn-custom {
  color: #fff;
  font-size: 1.2rem;
  background: #ffb79b;
}

.btn-custom:hover {
  outline: none;
  color: #fff;
  -webkit-transform: scale(1.01, 1);
          transform: scale(1.01, 1);
}

table td:hover {
  cursor: pointer;
}

table td:hover svg {
  fill: #ffb79b;
}

.none-border {
  border: none;
  outline: none;
}

.navbar {
  background: white !important;
  -webkit-box-shadow: 0 2px 3px rgba(68, 68, 68, 0.25);
          box-shadow: 0 2px 3px rgba(68, 68, 68, 0.25);
}

.navbar-nav.custom li {
  border-left: 1px solid rgba(68, 68, 68, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav.custom li:last-child {
  border-right: 1px solid rgba(68, 68, 68, 0.25);
}

.navbar-toggler:focus {
  border: none;
  outline: none;
}

@media (max-width: 767px) {
  .fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

@media (max-width: 767px) {
  .navbar-nav.custom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-nav .nav-item {
    font-size: 2rem;
  }
  .navbar-nav.social {
    padding: 0.5rem;
    border-top: solid 2px #212121;
  }
  .navbar-nav.custom li {
    border: none;
    height: auto;
  }
  .navbar-nav.custom li:last-child {
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1064px) {
  .social {
    display: none;
  }
}

.animated-icon {
  width: 30px;
  height: 35px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background: #212121;
}

.animated-icon span:nth-child(0) {
  top: 0px;
}

.animated-icon span:nth-child(1) {
  top: 10px;
}

.animated-icon span:nth-child(2) {
  top: 20px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2) {
  opacity: 0;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.animated-icon.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.about h1 {
  font-family: "Notera";
  font-size: 8rem;
}

.about p:before, .about p:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8%;
  height: 1px;
  background-color: black;
  position: relative;
}

.about p:before {
  left: -1%;
}

.about p:after {
  right: -1%;
}

.card,
.border-shadow {
  border: none;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.list-none {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.slide-prev, .slide-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 35px;
  height: 35px;
  z-index: 100;
  cursor: pointer;
  border: none;
  outline: none;
  background: #fff;
}

.slide-prev:hover, .slide-prev:focus, .slide-next:hover, .slide-next:focus {
  outline: none;
  background: #ffb79b;
}

.slide-prev:hover svg, .slide-prev:focus svg, .slide-next:hover svg, .slide-next:focus svg {
  fill: #fff;
}

.slide-prev svg, .slide-next svg {
  fill: #ffb79b;
}

.slide-prev {
  left: 0;
}

.slide-next {
  right: 0;
}

.social-bar svg {
  fill: #ffb79b;
}

.social-bar .white-background {
  cursor: pointer;
}

.social-bar .white-background:hover {
  background: #424242;
}

.social-bar .white-background:hover a, .social-bar .white-background:hover .pagination div:hover, .pagination .social-bar .white-background:hover div:hover {
  color: #fff;
}

.contact-information svg {
  fill: #ffb79b;
}

.contact-information span {
  margin-left: 1rem;
}
/*# sourceMappingURL=main.css.map */